ACTION=="add|change", SUBSYSTEM=="tty", KERNEL=="ttyUSB*", GOTO="autotelecomm_dongle_usb_rules"
GOTO="autotelecomm_dongle_rules_end"

LABEL="autotelecomm_dongle_usb_rules"

ENV{ID_VENDOR_ID}=="2cb7", ENV{ID_MODEL_ID}=="0a04", GOTO="autotelecomm_dialing_start"
ENV{ID_VENDOR_ID}=="2cb7", ENV{ID_MODEL_ID}=="0a05", GOTO="autotelecomm_dialing_start"
ENV{ID_VENDOR_ID}=="2cb7", ENV{ID_MODEL_ID}=="0a06", GOTO="autotelecomm_dialing_start"
ENV{ID_VENDOR_ID}=="2cb7", ENV{ID_MODEL_ID}=="0a07", GOTO="autotelecomm_dialing_start"
ENV{ID_VENDOR_ID}=="1508", ENV{ID_MODEL_ID}=="1001", GOTO="autotelecomm_dialing_start"
ENV{ID_VENDOR_ID}=="3466", ENV{ID_MODEL_ID}=="3301", GOTO="autotelecomm_dialing_start"
ENV{ID_VENDOR_ID}=="1e0e", ENV{ID_MODEL_ID}=="9011", GOTO="autotelecomm_dialing_start"
GOTO="autotelecomm_dongle_rules_end"

LABEL="autotelecomm_dialing_start"
TAG+="systemd", ENV{SYSTEMD_WANTS}="autotelecomm.service"
GOTO="autotelecomm_dongle_rules_end"

LABEL="autotelecomm_dongle_rules_end"
